/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    font: 1.125rem/160% "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;

    background-color: #07020d;
    color: #fff;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Element/typographie
------------------------------------------------------------------------------*/

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img{
    max-width: 100%;
}

/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/*HEADER*/
.header{
    color: #07020d;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 1000;
}

.header .wrapper{
    max-width: 800px;

    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

.header .logo{
    font-size: 1.875rem;
    color: inherit;
}

.header .material-symbols-outlined{
    font-size: 1.875rem;
}

/*HERO*/
.hero{
    height: 400px;

    background: url(../images/photos/mountains.jpg) no-repeat center/cover;
}

/*CONTENU*/
.contenu{
    padding: 100px 0;
}

.contenu .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    border-radius: 10px;
}

.contenu .card{
    position: relative;
}

.contenu .button{
    background-color: #07020D;
    color: #5db7de;
    height: 44px;
    width: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    position: absolute;
    top: 20px;
    right: 20px;
}

/*FOOTER*/
.footer{
    background-color: #5db7de;
    font-size: 1.25rem;
    color: white;

    padding: 30px 0;
}

.footer p{
    text-align: center;
    margin: 0;
}