/*----------------------------------------------------------------------------
    Generic
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    font: 1.125rem/160% "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;

    background-color: #07020d;
    color: #fff;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.wrapper{

}

/*------------------------------------------------------------------------------
   Element/typographie
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/